<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cmsnew</display-name>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createConfigFile</display-name>
    <servlet-name>createConfigFile</servlet-name>
    <servlet-class>startup.createConfigFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createConfigFile</servlet-name>
    <url-pattern>/createConfigFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadimage</display-name>
    <servlet-name>downloadimage</servlet-name>
    <servlet-class>processing.downloadimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadimage</servlet-name>
    <url-pattern>/downloadimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginprocess</display-name>
    <servlet-name>loginprocess</servlet-name>
    <servlet-class>processing.loginprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginprocess</servlet-name>
    <url-pattern>/loginprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutaction</display-name>
    <servlet-name>logoutaction</servlet-name>
    <servlet-class>processing.logoutaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutaction</servlet-name>
    <url-pattern>/logoutaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadingprocess</display-name>
    <servlet-name>uploadingprocess</servlet-name>
    <servlet-class>processing.uploadingprocess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadingprocess</servlet-name>
    <url-pattern>/uploadingprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paging</display-name>
    <servlet-name>paging</servlet-name>
    <servlet-class>processing.paging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paging</servlet-name>
    <url-pattern>/paging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>moderate</display-name>
    <servlet-name>moderate</servlet-name>
    <servlet-class>processing.moderate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moderate</servlet-name>
    <url-pattern>/moderate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>redirector</display-name>
    <servlet-name>redirector</servlet-name>
    <servlet-class>processing.redirector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirector</servlet-name>
    <url-pattern>/redirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servercall</display-name>
    <servlet-name>servercall</servlet-name>
    <servlet-class>processing.servercall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servercall</servlet-name>
    <url-pattern>/servercall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setconfigproperties</display-name>
    <servlet-name>setconfigproperties</servlet-name>
    <servlet-class>classes.setconfigproperties</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setconfigproperties</servlet-name>
    <url-pattern>/setconfigproperties</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userpaging</display-name>
    <servlet-name>userpaging</servlet-name>
    <servlet-class>processing.userpaging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpaging</servlet-name>
    <url-pattern>/userpaging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminpaging</display-name>
    <servlet-name>adminpaging</servlet-name>
    <servlet-class>processing.adminpaging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminpaging</servlet-name>
    <url-pattern>/adminpaging</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchdatabase</display-name>
    <servlet-name>searchdatabase</servlet-name>
    <servlet-class>processing.searchdatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchdatabase</servlet-name>
    <url-pattern>/searchdatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchdatabase1</display-name>
    <servlet-name>searchdatabase1</servlet-name>
    <servlet-class>processing.searchdatabase1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchdatabase1</servlet-name>
    <url-pattern>/searchdatabase1</url-pattern>
  </servlet-mapping>
</web-app>